* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "la_paloma";
  src: url("./font/la_paloma-webfont.woff2") format("woff2"), url("./fontla_paloma-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.uppercase {
  text-transform: uppercase;
}

h1 {
  font-family: "Roboto";
  font-size: 40px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  line-height: 60px;
}

h2, h3, body {
  font-family: "Roboto";
}

body {
  font-size: 14px;
  line-height: 40px;
}
@media (max-width: 768px) {
  body {
    line-height: 25px;
  }
}

h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 60px;
}
@media (max-width: 768px) {
  h2 {
    line-height: 35px;
  }
}

h3 {
  font-weight: 400;
  font-size: 18px;
}

p {
  text-align: justify;
}

.primaryButton {
  color: #F1F1F1;
  background-color: #671751;
  text-transform: uppercase;
  padding: 10px 25px;
  box-shadow: 0 2px 2px #0000003D;
  border-radius: 2px;
}
.primaryButton:focus, .primaryButton:active, .primaryButton:hover {
  box-shadow: 0 8px 8px #0000003D;
}

.secondaryButton {
  color: #671751;
  background-color: transparent;
  text-transform: uppercase;
  padding: 10px 25px;
  box-shadow: 0 2px 2px #0000003D;
  border-radius: 2px;
  border: 2px solid #671751;
}
.secondaryButton:focus, .secondaryButton:active, .secondaryButton:hover {
  box-shadow: 0 8px 8px #0000003D;
  background-color: #671751;
  color: #F1F1F1;
}

.tertiaryButton {
  color: #671751;
  text-decoration: underline;
  font-weight: 400;
}
.tertiaryButton:focus, .tertiaryButton:active, .tertiaryButton:hover {
  font-weight: 500;
}

i.fas.fa-check {
  color: #671751;
}

header#mainHeader {
  width: 100%;
  background-color: #F1F1F1;
  height: 20vh;
  max-height: 135px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}
header#mainHeader img {
  max-width: 80px;
  max-height: 80px;
  /*         position: absolute;
          top: 30px;
          left: 60px; */
}
header#mainHeader nav {
  display: flex;
  justify-content: space-between;
  width: 60%;
  max-width: 900px;
}
header#mainHeader nav a {
  color: #121212;
  font-size: 14px;
}
header#mainHeader nav #menuToggle {
  display: none;
}
@media (max-width: 981px) {
  header#mainHeader {
    justify-content: space-between;
    padding: 0 50px;
  }
  header#mainHeader nav {
    width: auto;
  }
  header#mainHeader nav > a {
    display: none;
  }
  header#mainHeader nav #menuToggle {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  header#mainHeader nav #menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }
  header#mainHeader nav #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  header#mainHeader nav #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  header#mainHeader nav #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  header#mainHeader nav #menuToggle span:last-child {
    transform-origin: 0% 100%;
  }
  header#mainHeader nav #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  header#mainHeader nav #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  header#mainHeader nav #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  header#mainHeader nav #menuToggle ul {
    display: none;
    position: absolute;
    right: calc(-50px - 50vw);
    max-width: 981px;
    width: 100vw;
    padding: 50px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transition: right 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  header#mainHeader nav #menuToggle ul li {
    padding: 10px 0;
  }
  header#mainHeader nav #menuToggle input:checked ~ ul {
    display: block;
    right: -50px;
  }
}

footer {
  background-color: #121212;
  color: #FFF;
}
footer .primaryFooter {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid rgba(241, 241, 241, 0.5);
}
footer .primaryFooter a {
  color: #FFF;
}
footer .primaryFooter nav, footer .primaryFooter div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
footer .primaryFooter .legallyNav {
  position: relative;
}
footer .primaryFooter .legallyNav:before {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  right: 12%;
  top: 0;
  z-index: 0;
  border-left: 1px solid rgba(241, 241, 241, 0.5);
  border-right: 1px solid rgba(241, 241, 241, 0.5);
  transform-origin: bottom right;
  -ms-transform: skew(-30deg, 0deg);
  -webkit-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
}
footer .secondaryFooter {
  padding: 1vh;
}
footer .secondaryFooter p {
  text-align: center;
}
@media (max-width: 981px) {
  footer {
    font-size: 12px;
  }
  footer .primaryFooter {
    flex-direction: column;
  }
  footer .primaryFooter nav, footer .primaryFooter div {
    width: auto;
  }
  footer .primaryFooter .legallyNav:before {
    display: none;
  }
}

.sites #avantagesSection {
  width: 80%;
  margin: auto;
  background-color: #FFF;
  padding: 70px;
  padding: 50px 80px;
}
.sites #avantagesSection h1 {
  max-width: 550px;
  text-align: center;
}
@media (max-width: 981px) {
  .sites #avantagesSection {
    padding: 30px;
  }
}
.sites #avantagesSection .containerAvantages {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 10%;
}
.sites #avantagesSection .containerAvantages h2 {
  margin-bottom: 0;
}
.sites #avantagesSection .containerAvantages p {
  margin-top: 0;
}
.sites #besoinsContactSection {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.sites #besoinsContactSection .besoins {
  width: 30%;
  padding: 0 10px;
  background: transparent;
  text-align: center;
}
.sites #besoinsContactSection .besoins h2 {
  margin: 0;
}
.sites #besoinsContactSection .besoins ul {
  list-style-type: none;
  padding: 0;
}
.sites #besoinsContactSection .contact {
  width: 30%;
  text-align: center;
  background-color: #FFF;
  padding: 20px;
}
@media (max-width: 768px) {
  .sites #avantagesSection .containerAvantages {
    grid-template-columns: 100%;
  }
  .sites #besoinsContactSection {
    flex-direction: column;
  }
  .sites #besoinsContactSection article.besoins, .sites #besoinsContactSection article.contact {
    width: 90%;
    margin: auto;
  }
}

.allPages {
  background-color: #F1F1F1;
  padding-bottom: 50px;
  padding-top: 50px;
}

header#mainHeader.homeMainHeader {
  background-color: #121212;
}
header#mainHeader.homeMainHeader a {
  color: #F1F1F1;
}

#homePage {
  background-color: #FFF;
}
#homePage #landingSection {
  background-color: #121212;
  min-height: 80vh;
  height: calc(100vh - 135px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F1F1F1;
  margin-bottom: 350px;
  position: relative;
}
#homePage #landingSection h1 {
  font-weight: normal;
  font-family: "la_paloma";
}
@media (max-width: 981px) {
  #homePage #landingSection h1 {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  #homePage #landingSection h1 {
    font-size: 20px;
    max-width: none;
  }
}
#homePage #landingSection #mainServices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1400px;
  padding-left: 5%;
  padding-right: 5%;
  position: absolute;
  top: calc(100vh - 155px);
}
#homePage #landingSection #mainServices article {
  max-width: 340px;
  background-color: #F1F1F1;
  color: #121212;
  padding: 1% 2%;
  box-shadow: 0 3px 6px #00000029;
}
#homePage #landingSection #mainServices article a {
  color: #671751;
  text-decoration: underline;
}
#homePage #landingSection #mainServices article:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 981px) {
  #homePage #landingSection {
    margin-bottom: 450px;
  }
  #homePage #landingSection div#mainServices {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  #homePage #landingSection div#mainServices article:not(:last-child), #homePage #landingSection div#mainServices article {
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  #homePage #landingSection {
    margin-bottom: 700px;
  }
  #homePage #landingSection div#mainServices {
    grid-template-columns: 1fr;
    top: calc(100vh - 115px);
  }
  #homePage #landingSection div#mainServices article:not(:last-child), #homePage #landingSection div#mainServices article {
    margin-right: 0px;
  }
}
#homePage #mainPresentation {
  width: 95%;
  margin: auto;
  padding: 8%;
  background-color: #F1F1F1;
  box-shadow: 1px 3px 10px #00000029;
}
#homePage #mainPresentation h2 {
  text-align: center;
  max-width: 550px;
  margin: 0 auto 5% auto;
}
#homePage #mainPresentation #textPresentation {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
}
#homePage #mainPresentation #textPresentation a {
  align-self: end;
  color: #121212;
}
@media (max-width: 768px) {
  #homePage #mainPresentation #textPresentation {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}
#homePage #mainReviews {
  width: 100%;
  margin: auto;
  padding: 8% 4%;
}
#homePage #mainReviews h2 {
  text-align: center;
  max-width: 550px;
  margin: 0 auto 5% auto;
}
#homePage #mainReviews #containerReviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#homePage #mainReviews #containerReviews article {
  width: 28%;
  min-width: 400px;
  padding: 2%;
  box-shadow: 0 3px 6px #00000029;
  margin-bottom: 5%;
}
#homePage #mainReviews #containerReviews article h3 {
  margin: 0;
}
#homePage #mainReviews #containerReviews article .linkReviewer {
  color: #121212;
}
@media (max-width: 981px) {
  #homePage #mainReviews #containerReviews article {
    width: 40%;
    min-width: unset;
    max-width: 350px;
  }
}
@media (max-width: 768px) {
  #homePage #mainReviews #containerReviews article {
    width: 80%;
    min-width: unset;
    max-width: unset;
    padding: 1vh 8vw;
  }
}
#homePage #mainRealisations {
  width: 95%;
  margin: auto;
  padding: 8%;
  background-color: #F1F1F1;
  box-shadow: 1px 3px 10px #00000029;
}
#homePage #mainRealisations h2 {
  text-align: center;
  max-width: 550px;
  margin: 0 auto 5% auto;
}
#homePage #mainRealisations .containerRealisations {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  grid-gap: 3vw;
}
#homePage #mainRealisations .containerRealisations article {
  background-color: #FFF;
  padding: 1vh 2vw;
  text-align: center;
  line-height: 30px;
  box-shadow: 0 3px 6px #00000029;
}
#homePage #mainRealisations .containerRealisations article h3 {
  margin-bottom: 0;
}
#homePage #mainRealisations .containerRealisations article h4 {
  margin-bottom: 0;
}
#homePage #mainRealisations .containerRealisations article p {
  margin-top: 0;
}
#homePage #mainRealisations .containerRealisations article ul {
  margin-top: 0;
  list-style-type: none;
  padding: 0;
}
@media (max-width: 981px) {
  #homePage #mainRealisations .containerRealisations {
    grid-template-columns: 40vw 40vw;
  }
}
@media (max-width: 768px) {
  #homePage #mainRealisations .containerRealisations {
    grid-template-columns: 80vw;
  }
  #homePage #mainRealisations .containerRealisations article {
    padding: 1vh 8vw;
  }
}
#homePage #mainTeam {
  width: 100%;
  margin: auto;
  padding: 8% 4%;
}
#homePage #mainTeam h2 {
  text-align: center;
  max-width: 550px;
  margin: 0 auto 5% auto;
}
#homePage #mainTeam .containerTeam {
  display: grid;
  grid-template-columns: repeat(2, minmax(230px, 350px));
  grid-template-rows: 450px;
  justify-content: center;
  grid-gap: 2vw;
}
#homePage #mainTeam .containerTeam article {
  box-shadow: 0 3px 6px #00000029;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
}
#homePage #mainTeam .containerTeam article img {
  width: 150px;
  height: 150px;
  clip-path: ellipse(50% 50%);
  text-align: center;
  box-shadow: 0 3px 6px #00000029;
}
#homePage #mainTeam .containerTeam article h3 {
  margin-bottom: 0;
}
#homePage #mainTeam .containerTeam article h4 {
  margin-top: 0;
  text-decoration: underline;
}
#homePage #mainTeam .containerTeam article i {
  font-size: 25px;
  color: #671751;
}
#homePage #mainTeam .containerTeam article i:hover, #homePage #mainTeam .containerTeam article i:focus {
  color: #3d0e30;
}
@media (max-width: 768px) {
  #homePage #mainTeam .containerTeam {
    grid-template-columns: repeat(1, minmax(230px, 350px));
    grid-template-rows: 300px;
  }
}

#collabPage #collabPresentation {
  text-align: center;
  padding-top: 10%;
  max-width: 60%;
  margin: auto;
}
#collabPage #collabPresentation h1 {
  max-width: 550px;
}
#collabPage #collabPresentation p.guide {
  text-align: center;
  font-weight: 500;
}
#collabPage #collabPresentation p.telepresentiel {
  margin-bottom: 50px;
}
#collabPage #collabPresentation hr {
  max-width: 30%;
}
#collabPage #collabPresentation nav {
  max-width: 500px;
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#collabPage #collabPresentation nav a {
  color: #121212;
  font-weight: 500;
  transition: color 0.5s;
}
#collabPage #collabPresentation nav a:hover {
  color: #671751;
}
@media (max-width: 768px) {
  #collabPage #collabPresentation nav {
    flex-direction: column;
  }
}
#collabPage #collabMethode {
  width: 80%;
  margin: auto;
  background-color: #FFF;
  padding: 70px;
}
@media (max-width: 981px) {
  #collabPage #collabMethode {
    padding: 30px;
  }
}
#collabPage #collabMethode h2 {
  text-align: center;
}
#collabPage #collabMethode article {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px;
}
#collabPage #collabMethode article p.numberMethode {
  width: 38%;
  text-align: right;
  padding-right: 70px;
  margin-top: 60px;
  margin-bottom: 0;
  color: #671751;
  font-size: 140px;
  text-shadow: 3px 3px 3px #00000029;
}
#collabPage #collabMethode article div.texteMethode {
  width: 62%;
}
#collabPage #collabMethode article:nth-child(odd) {
  flex-direction: row-reverse;
}
#collabPage #collabMethode article:nth-child(odd) p.numberMethode {
  text-align: left;
  padding-left: 70px;
  padding-right: 0;
}
@media (max-width: 768px) {
  #collabPage #collabMethode article, #collabPage #collabMethode article:nth-child(odd) {
    flex-direction: column;
    align-items: center;
  }
  #collabPage #collabMethode article p.numberMethode, #collabPage #collabMethode article:nth-child(odd) p.numberMethode {
    width: auto;
    text-align: center;
    padding: 0;
    margin-bottom: 40px;
  }
  #collabPage #collabMethode article div.texteMethode, #collabPage #collabMethode article:nth-child(odd) div.texteMethode {
    width: 100%;
  }
  #collabPage #collabMethode article:nth-child(odd) p.numberMethode {
    width: auto;
    text-align: center;
    padding: 0;
    margin-bottom: 40px;
  }
}
#collabPage #collabFormation {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
}
#collabPage #collabFormation article {
  width: 45%;
  background-color: #FFF;
  padding: 50px 70px;
  line-height: 30px;
}
#collabPage #collabFormation article h2 {
  line-height: 60px;
  text-align: center;
}
#collabPage #collabFormation .containerFormation {
  text-align: center;
}
#collabPage #collabFormation .containerFormation ul {
  list-style-type: none;
}
@media (max-width: 981px) {
  #collabPage #collabFormation article {
    width: 49%;
    padding: 30px 20px;
  }
  #collabPage #collabFormation article h2 {
    line-height: 40px;
  }
  #collabPage #collabFormation article ul {
    padding: 0;
  }
  #collabPage #collabFormation article.containerFormation {
    text-align: left;
  }
}
@media (max-width: 768px) {
  #collabPage #collabFormation {
    flex-direction: column;
  }
  #collabPage #collabFormation article {
    width: 100%;
    margin-bottom: 10px;
  }
}
#collabPage #collabCout {
  width: 80%;
  margin: auto;
  background-color: #FFF;
  padding: 70px;
  margin-bottom: 50px;
}
@media (max-width: 981px) {
  #collabPage #collabCout {
    padding: 30px;
  }
}
#collabPage #collabCout h2 {
  max-width: 40%;
  margin: auto;
}
#collabPage #collabCout p {
  max-width: 60%;
  margin: auto;
}
@media (max-width: 981px) {
  #collabPage #collabCout h2 {
    max-width: unset;
    text-align: center;
  }
  #collabPage #collabCout p {
    max-width: unset;
  }
}
#collabPage #collabTest {
  width: 43%;
  margin: auto;
  background-color: #FFF;
  padding: 90px;
}
#collabPage #collabTest h2 {
  text-align: center;
}
#collabPage #collabTest p {
  text-align: center;
}
@media (max-width: 981px) {
  #collabPage #collabTest {
    padding: 30px;
  }
}
@media (max-width: 768px) {
  #collabPage #collabTest {
    width: 100%;
  }
}

#contactPage {
  padding-top: 50px;
  padding-bottom: 50px;
}
#contactPage form {
  width: 80%;
  margin: auto;
  background-color: #FFF;
  padding: 70px;
  width: 60%;
  padding: 100px;
  line-height: 60px;
}
#contactPage form h1 {
  text-align: center;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 50px;
}
@media (max-width: 981px) {
  #contactPage form {
    padding: 30px;
  }
}
#contactPage form div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#contactPage form input[type=text], #contactPage form input[type=tel], #contactPage form input[type=email], #contactPage form input[type=number], #contactPage form textarea {
  border-bottom: 1px solid #671751;
  padding-bottom: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #671751;
  padding: 12px;
}
#contactPage form input[type=text]:focus, #contactPage form input[type=text]:active, #contactPage form input[type=tel]:focus, #contactPage form input[type=tel]:active, #contactPage form input[type=email]:focus, #contactPage form input[type=email]:active, #contactPage form input[type=number]:focus, #contactPage form input[type=number]:active, #contactPage form textarea:focus, #contactPage form textarea:active {
  border-bottom: 1.5px solid #ba2a93;
  outline: none;
}
#contactPage form input[type=text]::placeholder, #contactPage form input[type=email]::placeholder, #contactPage form input[type=number]::placeholder, #contactPage form textarea::placeholder {
  color: #671751;
  font-family: "Roboto";
}
#contactPage form .radioInput {
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  visibility: hidden;
}
#contactPage form .radioInput:checked + label.secondaryButton {
  box-shadow: 0 8px 8px #0000003D;
  background-color: #671751;
  color: #F1F1F1;
}
#contactPage form label.secondaryButton {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 13px;
  padding: 8px 20px;
  cursor: pointer;
}
#contactPage form input[type=button] {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-color: transparent;
  box-shadow: 0px 2px 2px #671751;
}
#contactPage form input[type=button]:focus, #contactPage form input[type=button]:active {
  outline: none;
}
@media (max-width: 981px) {
  #contactPage form {
    width: 90%;
    padding: 50px;
  }
}
@media (max-width: 768px) {
  #contactPage form {
    padding: 20px;
    font-size: 12px;
    line-height: 50px;
  }
  #contactPage form .contactProjet p {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
