$mainBlack: #121212;
$mainGrey: #F1F1F1;
$mainWhite: #FFF;
$purple: #671751;
$mainShadow: 0 3px 6px #00000029;
$mainPadding: 50px;

//Responsive Design

$screen-sm-min: 768px;
 
$screen-md-min: 981px;
 